/* src/App.css */
:root {
  --primary-color: #030712; /* Quase preto */
  --secondary-color: #111827; /* Cinza escuro */
  --font-color: #f9fafb; /* Branco */
  --highlight-color: #3b82f6; /* Azul */
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}